<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
            <rules>
                <clear />
                <rule name="Sitemap" stopProcessing="true">
                    <match url="sitemap.xml" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="sitemap.php" />
                </rule>
                <rule name="Indirme" stopProcessing="true">
                    <match url="^indir/[\w|-]+-(\d+)_(\d+x\d+).jpg$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="indir.php?i:{R:1}&amp;c:{R:2}" appendQueryString="true" />
                </rule>
                <rule name="RSS" stopProcessing="true">
                    <match url="^rss" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="rss.php" />
                </rule>
                <rule name="CozunurlukOgren" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_COOKIE}" pattern="arkaplanresmi_com_resolution_info_cookie" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/BingSiteAuth.xml" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cozunurluk_ogren.php" />
                </rule>
                <rule name="EskiAR_Ayrinti" stopProcessing="true">
                    <match url="Ayrinti/(\d+)/([\w.-]+)\.html" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="galeri?i:{R:1}&amp;{R:2}" />
                </rule>
                <rule name="EskiAR_Etiket" stopProcessing="true">
                    <match url="Etiket/(\w+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="tum?etiket:{R:1}" />
                </rule>
                <rule name="EskiAR_Sayfa" stopProcessing="true">
                    <match url="^Sayfa-(\d+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="tum?sayfa:{R:1}" />
                </rule>
                <rule name="TekDosya" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/index.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
